
.projects{

    display: flex;
    flex-direction: column;
    width: 75vw;
    margin : 10vh auto;
    padding-bottom: 10vh;
    align-items: center;
  
}

.project-title{

    display: flex;

    position: relative;
    font-size: 3rem;
    padding: 100px auto;
    padding-top:0 ;
    text-align: center;
    width: 100vw;

}


.project-content{


    display: flex;
    flex-direction: row;
    margin-top: 100px;
    padding-bottom: 2rem ;
    align-items: center;
    gap: 70px
   
}
#first-project-content{


    margin-top: 10px;
    align-items: center;
    

   
}



   /*  // animation */

.title-slide-down{
    
    display: inline-block;
    position: absolute;
    left:  -30%;
    width: 80%;
    color: transparent;
    background-color: #0d6efd;
    transform: skewx(50deg);
    transition: transform 1.5s ease-in-out;
    
}
.title-slide-down.visible{
    

    transform: skewx(50deg) translateY(105%);
    
}
.title-slide-up{
    
    display: inline-block;
    position: absolute;
    right:  -30%;
    width: 80%;
    color: transparent;
    background-color: #0d6efd;
    transform: skewx(50deg);
    transition: transform 1.5s ease-in-out ;
    
}
.title-slide-up.visible{
    

    transform: skewx(50deg) translateY(-105%);
    
}





                /*     project images   */

.project_img1{

    border-radius: 10px;
    border: rgb(74, 74, 74) 5px solid;
    width: 500px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.project_img1:hover{

    transform: translateY(-5px) scale(102%);
    
}

.project_img2{

    border-radius: 10px;
    border: rgb(103, 103, 103) 5px solid;
    width: 500px;
    height: auto;
    cursor: pointer;
}
.project_img3{

    border-radius: 10px;
    border: rgb(80, 80, 80) 5px solid;
    width: 400px;
    height: 480px;
    cursor: pointer;
}
.project-details{

    font-weight: 200;
    color: rgb(255, 255, 255);
}
.TheGreen{
    color: rgb(55, 237, 113);
}




                  /*  Mobile View */

@media (max-width:768px){
    
.projects{

    display: flex;
    flex-direction: column;
    width: 100%;
    margin : 10vh auto;
    padding: 0 26px;
    
  
}

.project-title{

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1.2rem;
    padding: 100px 0 20px 0 ;

    text-align: center;
    margin-bottom: 0;

}

.project-title img{

   position: absolute; 
    top:90px;
    left: 100px;
    
   
    transform: scale(60%);
    z-index: -1;

}
.project-content{


    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    
    gap: 10px
   
}




                /*     project images   */

            
.project_img1{

    border-radius: 10px;
    display: inline-block;
    border: rgb(86, 86, 86) 5px solid;
    width: 300px;
    
    height: auto;
    cursor: pointer;
}
.project_img2{

    border-radius: 10px;
    display: inline-block;
    border: rgb(65, 65, 65) 5px solid;
    width: 200px;
    height: 240px;
    cursor: pointer;
}
.project_img3{

    border-radius: 10px;
    display: inline-block;
    border: rgb(85, 85, 85) 5px solid;
    width: 200px;
    height: 240px;
    cursor: pointer;
}
.project-details{
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: 200;
    color: rgb(255, 255, 255);
}
.project-details h1{

    font-size: 1.5rem;
     
}
.title-discription-br{
    display: none;
}
.TheGreen{
    color: rgb(55, 237, 113);
}
.features{

    padding-left: 10px;
}
}