.HeroSection{

    padding: 10px 200px 50px 20px;
    scroll-margin: 100px;
    margin : 30vh auto;
    padding-right: 200px;
    width: 75vw;
    height: auto;
    backdrop-filter: blur(20px);
}

.HeroSection h1{

    font-size: 6rem;
    font-weight: 500;
    
    margin-bottom: 20px;
    background: linear-gradient(150deg, hsl(328, 100%, 50%) , #c2fd00 );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.HeroSection p{

    font-size: 2rem;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 40px;
    padding-left: 50px;
}

.hero-action{
    display: flex;
    
    gap: 50px;
    padding-left: 50px;
}
.hero-connect{
    display: flex;
    align-items: center;
    color: #38f118;
    font-size: 1.2rem;
    margin: 0 40px;
    padding: 12px 28px;
    border: #daf3c8 1px solid;
    border-radius: 50px;
    cursor: pointer;
     outline: #daf3c8 1px solid;
    transition: 0.2s;
}
.hero-connect:hover{
   border: rgb(0, 200, 255) 1px solid;
    outline: rgb(0, 200, 255) 1px solid;
}
.hero-connect:active{
   background-color: #25adc2;
   border: rgb(0, 200, 255) 2px solid;
}
.hero-resume{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #38f118;
    font-size: 1.2rem;
    margin: 0 40px;
    padding: 12px 28px;
    border: #daf3c8 1px solid;
    border-radius: 50px;
    cursor: pointer;
     outline: #daf3c8 1px solid;
    transition: 0.2s;
}
.hero-resume:hover{
   border: rgb(0, 200, 255) 1px solid;
   outline: rgb(0, 200, 255) 1px solid;
}
.hero-resume:active{
   background-color: #25adc2;
   border: rgb(0, 200, 255) 2px solid
}

.hero-resume img{

    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    filter: invert(1);
}