.About{
    display: flex;
    flex-direction: column;
    width: 75vw;
    margin : 10vh auto;
    padding-bottom: 10vh;
    align-items: center;
}

.about-title{

    
    position: relative;
    font-size: 3rem;
    padding: 50px;

}
.E-about-title-text{
    position: relative;
}
.about-title img{


    position: absolute;
    top: 80px;
    left: 300px;
    transform: scale(150%);
    z-index: -1;
}

.about-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.5rem;
}
.about-para {

    line-height: 50px;
    margin-bottom: 80px;
}
.about-section hr{

    border: rgb(8, 182, 240) 3px solid;
    opacity: 1;
    border-radius: 50px;
    margin: 0 0 16px 0;
}


   /*  // Mobile View */

@media (max-width:768px){

.About{
    display: flex;
    flex-direction: column;
    width: 100%;

    margin : 10vh auto;
    padding: 0 26px;
    align-items: center;
}

.about-skills{

    font-size: 1rem;
    font-weight: 400;
}

.about-title{

    
    
    font-size: 1.2rem;
    padding: 50px;

}

.E-about-title-text{
    position: relative;
}
.about-title img{


    position: absolute;
    top: 50px;
    left: 120px;
    transform: scale(60%);
    z-index: -1;
}

.about-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.2rem;
}
.about-para {

    line-height: 28px;
    font-weight: 200;
    margin-bottom: 80px;
}
.about-section hr{

    border: rgb(8, 182, 240) 3px solid;
    opacity: 1;
    border-radius: 50px;
    margin: 0 0 16px 0;
}


}