.contact{

    display: flex;
    flex-direction: column;
    width: 75vw;
    margin: 0 auto 5% auto;
}
.contact-section{
    display: flex;
    justify-content: space-around;
}

.contact-title{

     display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 3rem;
    padding: 100px;
    text-align: center;
}
.contact-title-left {
    

    margin-top: 0;
    padding-top: 0;

    background: linear-gradient(140deg, hsl(324, 100%, 50%), hsl(204, 100%, 50%));
    background-clip: text;
    -webkit-bacground-clip: text;
    -webkit-text-fill-color: transparent;

}

.contact-title img{

    position: absolute; 
    top: 40%;
    left: 52%;
    
   
    transform: scale(150%);
    z-index: -1;
    
}
.contact-left h1{

    font-size: 4rem;
    margin-bottom: 0px;
    padding: 0;

}
.contact-left img{

    height: 41px;
    width: 41px;
    margin-top: 3px;
}
.contact-info{
    max-width: 600px;
    font-weight: 200;
    padding-right: 30px ;
}

.contact-items {
    display: flex;
    align-items: center;
    gap: 20px;


}

.contact-form{

    display: flex;
    flex-direction: column;

}
.contact-form input::placeholder{

    color: rgba(150, 150, 150, 0.453);
    font-size: 1.2rem;
    font-weight: 200;
}
.contact-form input , textarea{


    width: 400px;
    padding: 10px; 
    color: rgb(212, 210, 210);

    font-size: inherit;
    margin-bottom: .5rem;
    background-color: rgb(66, 66, 66);
    border-radius: 5px;
    border: 2px solid rgb(84, 146, 78);
}


.contact-form input:focus, textarea:focus{

        border: 2px solid rgb(78, 201, 67);
        outline: none;

}
.contact-form input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {


  -webkit-text-fill-color: rgb(212, 210, 210) ;
  transition: background-color 5000s ease-in-out 0s;
}

.contact-form input[type = "number"]::-webkit-inner-spin-button,
.contact-form input[type = "number"]::-webkit-outer-spin-button{

    -webkit-appearance: none;
    margin: 0;
}

.contact-form textarea{

    width: 500px;
    padding: 10px;
}

.contact-form button[type = "submit"]{

    width: 200px;
    color: #d4ffdc;
    font-size: 1.5rem;
    border-radius: 40px;
    border: none;
    padding: 10px;
    background: linear-gradient(140deg, hsl(324, 96%, 50%), hsl(277, 89%, 46%));
    transition: all 0.3s ease-in-out;
    margin: 20px 10px;

}
.contact-form button[type= "submit"]:hover{
    cursor:pointer;
    transform: scale(103%);

}