.NavBar{

    position: fixed;
    margin: 0;
    top: 0;
    width: 100vw;
    display: flex;
    z-index: 1;
    justify-content: space-around;
    align-content: center;
    padding: 20px 40px;
    
    background-color: hsla(0, 0%, 17%, 0.413);
    backdrop-filter: blur(20px);
    
}
.portfolio-title{
    color: rgb(91, 91, 91);
    padding-bottom: 0;
    margin-bottom: 0;
}
.nav-mob-close, .nav-mob-open{
    display: none;
}

.NavMenu{

    display: flex;
    align-items: center;
    gap: 8rem;
    list-style-type: none;
    color: rgb(225, 241, 202);
    cursor: pointer;
    font-size: 1.5rem;
}


.E-nav-link{
    
    transition: color 0.3s ease-in-out;
    padding: 5px 0.5rem;
    position: relative;
    color: rgb(243, 245, 240);
    text-decoration: none;
}

.E-nav-link::after{
    content: "";
    position: absolute;
    background-color: rgb(10, 223, 3);
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 5px;
    border-radius: 10px;
    transition: width 0.3s ease-in;
}


.E-nav-link:hover{
    color: rgb(10, 223, 3);
}

.E-nav-link:hover::after{

    width: 100%;
}


.ConnectWithMeBtn{
    color: #cef1b6;
    font-size: 1.2rem;
    margin: 0 40px;
    padding: 12px 28px;
    border-radius: 50px;
    background: linear-gradient(140deg,  hsl(328, 100%, 50%) , #9c00fd  );
    border: none;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
}

.ConnectWithMeBtn:hover{

    transform: scale(110%);
}

/* Mobile View */

@media (max-width: 768px) {


    .NavBar{
        position: fixed;
        top: 0;
        margin: 0;
        padding: 12px;
        
    }
    .portfolio-title{
        font-size: 2rem;
        color: #a6a6a6;
        font-weight: 400;
    }
    .ConnectWithMeBtn{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        top: 15px;
        right: 20px;
        
    }
    .nav-mob-close{

        display: inline-block;
        
        padding: 5px;
        position: relative;
        top: -5px;
        left: 95px;
        width: 35px;
     
    }

    .NavMenu{
        backdrop-filter: blur(10px);
        position: fixed;
        right:-450px;
        top: 0;
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.959);
        height: 100vh;
        min-width: 280px;
        transition: all .5s ease-in-out;
        gap: 1.7rem;
        padding-left: 0;
    }
    
    .NavMenu li{
        padding-top: 1rem;
        font-size: 25px;
        border-bottom: 4px solid #444444;
        width: 100%;
        padding: 0 25px  ;
          
        
    }

.E-nav-link{

    padding-left: 30px;
}
.E-nav-link:hover{
    color:#f2f4ef;
}

.E-nav-link:hover::after{

    width: 0%;
}
    
}