.NavBar{

    position: fixed;
    margin: 0;
    top: 0;
    width: 100vw;
    display: flex;
    z-index: 1;
    justify-content: space-around;
    align-content: center;
    padding: 20px 40px;
    
    background-color: hsla(0, 0%, 17%, 0.413);
    backdrop-filter: blur(20px);
    
}
.portfolio-title{
    color: rgb(91, 91, 91);
    padding-bottom: 0;
    margin-bottom: 0;
}
.nav-mob-close, .nav-mob-open{
    display: none;
}

.NavMenu{

    display: flex;
    align-items: center;
    gap: 8rem;
    list-style-type: none;
    color: rgb(225, 241, 202);
    cursor: pointer;
    font-size: 1.5rem;
}


.E-nav-link{
    
    transition: color 0.3s ease-in-out;
    padding: 5px 0.5rem;
    position: relative;
    color: rgb(225, 241, 202);
    text-decoration: none;
}

.E-nav-link::after{
    content: "";
    position: absolute;
    background-color: rgb(10, 223, 3);
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 5px;
    border-radius: 10px;
    transition: width 0.3s ease-in;
}


.E-nav-link:hover{
    color: rgb(10, 223, 3);
}

.E-nav-link:hover::after{

    width: 100%;
}


.ConnectWithMeBtn{
    color: #cef1b6;
    font-size: 1.2rem;
    margin: 0 40px;
    padding: 12px 28px;
    border-radius: 50px;
    background: linear-gradient(140deg,  hsl(328, 100%, 50%) , #9c00fd  );
    border: none;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
}

.ConnectWithMeBtn:hover{

    transform: scale(110%);
}

/* Mobile View */

@media (max-width: 768px) {

/*     .NavMenu:focus, .NavMenu:hover,.NavMenu:active{

    display: flex;
    align-items: center;
    gap: 10rem;
    list-style-type: none;
    color: rgb(225, 241, 202);
    cursor: pointer;
    font-size: 1.2rem;
} */
    .NavBar{
        position: fixed;
        top: 0;
        margin: 0;
        padding: 12px;
        
    }
    .portfolio-title{
        font-size: 2rem;
        color: #a6a6a6;
        font-weight: 400;
    }
    .ConnectWithMeBtn{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        top: 15px;
        right: 20px;
     
    }
    .nav-mob-close{

        display: block;
        
        padding: 5px;
        position: relative;
        top: 30px;
        left: 130px;
        width: 40px;
     
    }

    .NavMenu{
        position: fixed;
        right:-450px;
        top: 0;
        display: flex;
        flex-direction: column;
        background-color: rgb(52, 52, 52);
       align-items: center;
        height: 100vh;
        width: 350px;
        z-index: 2;
        transition: all .5s ease-in-out;
        gap: 2rem;
    }
    .NavMenu li{
        padding-top: 1rem;
        font-size: 30px;
        border-bottom: 3px solid #4f494f;

        width: 80%;
        padding: 0 0 10px 0 ;
       
        flex-direction: row;
       
        color: rgb(225, 241, 202);
        text-align: center;
    }
        .NavMenu, .NavMenu li,  .nav-mob-close, .nav-mob-open {
        -webkit-tap-highlight-color: transparent; /* Removes blue flash on mobile */

    }
    .NavMenu li:hover{
        color: rgb(225, 241, 202);
        border-bottom: 3px solid #4f494f;
        
    }
    
}