.footer{
    font-weight: 200;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 12.5% 20px 12.5%;
    width: 100vw;
    margin: auto;
    background-color: rgba(66, 66, 66, 0.133);
    backdrop-filter: blur(50px);
}
.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-top-left{
     width: 30%;
     padding-left: 20px;
     padding-top: 20px;
     background-color: rgba(76, 76, 76, 0);
}
.footer-top-left img{

    height:64px;
    width: 64px;
    padding: 5px;
    cursor: pointer;
}
.github-icon{

    filter: invert(1) brightness(110%);
}


.footer-top-right ol{

    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
    
}

.footer-link{
    display: inline-block;  
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.2s ease-in , transform 0.2s ease-in ;
}

.footer-link:hover{

    transform: translateY(-5px);
    font-weight: 400;
    color: orange;
}


   /*   //Mobile View */

@media (max-width:768px){

    .footer{
    font-weight: 200;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 12.5% 20px 12.5%;
    width: 100vw;
    margin: auto;
    background-color: rgba(66, 66, 66, 0.133);
    backdrop-filter: blur(50px);
}
.footer-top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.footer-top-left{
    display: flex;
    justify-content: flex-start;
     width: 100%;
     padding-left: 0;
     padding-top: 20px;
     background-color: rgba(76, 76, 76, 0);
}
.footer-top-left img{

    height:54px;
    width: 54px;
    padding: 5px;
    cursor: pointer;
}
.github-icon{

    filter: invert(1) brightness(110%);
}


.footer-top-right ol{


    list-style: none;
        display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 10px;
   
   
}
.footer-top-right ol li{

 cursor: pointer;
     text-decoration-color: rgba(55, 237, 113, 0);
     transition: all  0.3s ;
}

   
.footer-top-right ol li:hover{
    transform: translateY(-7px);
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;

    
    text-decoration-color: rgb(0, 255, 38);
   
   
}
.footer-hr{
    width: 100%;
}
.footer-bottom p{
    font-size: 1rem;
    text-align: center;
}
}