

body{
   
    width: 100vw;
    height: 100vh;
    /* background-color: hsl(0, 0%, 11%); */
    background-color: #020106;

    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-family: "outfit";
    font-size: 1.5rem;
}
